{% extends 'base.html' %}

{% block title %}Short it up{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <h1><small>Click history for</small> {{ bookmark.title }}</h1>

    <table class="table table-bordered">
    <tr>
        <th>Original Link:</th>
        <th>Short Link:</th>
        <th>Description:</th>
    </tr>
    <tr>
        <td><a href="{% url 'forward_view' bookmark.hash_id %}" target="_blank" >{{ bookmark.url }}</a></td>
        <td>
            <input class="copy-text" type="text" id="website" value="http://{{ request.get_host }}{% url 'forward_view' mark.hash_id %}" />
            <button class="copy-btn" data-copytarget="#website">copy</button>
        </td>
        <td>{{ bookmark.description }}</td>
    </tr>
    </table>

                <table class="table table-condensed">
                    <tr>
                        <th>Time Clicked</th>
                    </tr>
                {% for click in clicks %}
                    <tr>
                        <td>{{ click.time_click }}</td>
                    </tr>
                {% endfor %}
                </table>
{% endblock %}
