body {
    padding-top: 60px;
    background-color: #F9F9F9;
}
.nav {
    background-color: #F9F9F9;
}
input {
    width: 306.4px;
}
.center-div {
    margin: 0 auto;
}
/* Copy text * style https://www.sitepoint.com/javascript-copy-to-clipboard/ */
.copy-text, .copy-btn {
  float: left;
  font-size: .9em;
  padding: 3px 6px;
  margin: 0;
  border: 1px solid #333;
  outline: 0;
  box-shadow: none;
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.copy-text {
  width: 11em;
  border-right: 0 none;
  border-radius: 3px 0 0 3px;
}
.copy-btn {
  position: relative;
  background-color: #aaa;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
/* end copy style */
.sm-row-3 tr td:nth-child(3) {
    width: 250px;
    table-layout: fixed;
    word-wrap: break-word;
}
