{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h1 class="text-center">Create a new user</h1>
        <br>
    <div class="row">
        <div class=" col-md-4 col-md-offset-4">
            <form action="" method="post" class="text-center">
                {% csrf_token %}
                <table class="table table-bordered">
                {{ form.as_table }}
                </table>
                <input class="btn btn-default" type="submit" value="Sign Up">
            </form>
        </div>
    </div>
{% endblock %}
